/* Scroll to top */

.scroll-to-top-icon i {
  position: fixed;
  width: 35px;
  height: 35px;
  background: transparent;
  bottom: 120px;
  right: 15px;
  text-align: center;
  line-height: 30px;
  color: $color-three;
  border-color: $color-three;
  border-width: 3px;
  border-style: solid;
  visibility: hidden;
  overflow: hidden;
  z-index: 9;
  right: 30px;
  bottom: 50px;
  transition: all 0.5s ease-in-out;
}

.scroll-to-top-icon i:hover {
  cursor: pointer;
  color: $color-four;
  border-color: $color-four;
}

.scroll-to-top-icon i.show {
  visibility: visible;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
