/* Variables */

$color-one: #ffffff;
$color-two: #000000;
$color-three: #0097e6;
$color-four: #777777;

$font-text:'Roboto', sans-serif;
$font-header: 'Roboto Condensed', sans-serif;

$font-logo: 'Monoton', cursive;
$font-logo-text: 'Sarpanch', sans-serif;
